option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app

container_commands:
  01_check_odbc_driver:
    command: odbcinst -q -d -n "ODBC Driver 18 for SQL Server"
    ignoreErrors: true
    test: "[ $? -ne 0 ]"

  02_install_odbc_driver:
    command: |
      # Import the Microsoft repository GPG key
      rpm --import https://packages.microsoft.com/keys/microsoft.asc

      # Download the Microsoft ODBC driver package for Amazon Linux 2
      curl -o /etc/yum.repos.d/mssql-release.repo https://packages.microsoft.com/config/rhel/8/prod.repo

      # Install the ODBC driver package
      yum install -y msodbcsql18
    test: "[ $? -eq 0 ]"
