option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app

container_commands:
  01_install_odbc_driver:
    command: |
      # Import the Microsoft repository GPG key
      rpm --import https://packages.microsoft.com/keys/microsoft.asc

      # Download the Microsoft ODBC driver package for Amazon Linux 2
      curl -o /etc/yum.repos.d/mssql-release.repo https://packages.microsoft.com/config/rhel/8/prod.repo

      # Install the ODBC driver package
      dnf install -y --nopre msodbcsql18
